* {
    margin: 0;
    box-sizing: border-box;
    
   
}

body {
  background-color: #ffffff76;
    width: 100%;
    background-size: cover;
    font-family: "Inter", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}

header{
    background-attachment: fixed;
   margin-top: 1vh;
   height: 10vh;
   
}

header ul {
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    flex-direction: row;
    height: 10vh;
    
}




header li {
    background-attachment: fixed;
    list-style: none;
    
    font-weight: 300;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: .5s;
    
}
header li:hover{

    transform: scale(1.2);
    
    transition: .5s;}

    header li:hover a { color: rgb(255, 255, 255);}

li>a{
    text-decoration: none;
    color:rgb(255, 255, 255);

}

li span{
  font-size: 40px;
  height:500px;
}

#otavio.light-mode {
  font-size: 3.5em;
   color: rgb(0, 0, 0);
   font-weight: 900;
   font-style: italic;
   line-height: 1;
}

body.light-mode { background-color: #00000076;;
  background-image: url(fundobrancss.png);
  color: black;
}


body.dark-mode {

  background-image: url(fundotozera.png);
  color: rgb(0, 0, 0);
}

#toggleButton {
  border: #E7D974;
  position: relative; /* Fixa o botão em uma posição específica */
  top: 10px; /* Distância do topo */
  right: 10px; /* Distância da direita */
  background-color:  #12FF8D; ; /* Cor do botão em modo claro */
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s;
}

#toggleButton:hover {
  background-color: #ffffff; /* Cor do botão ao passar o mouse */
}




#name{
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7vh;    
}

#otavio{
   
   font-size: 3.5em;
   color: rgb(255, 255, 255);
   font-weight: 900;
   font-style: italic;
   line-height: 1;

}

#otavio span { color: #12FF8D;}

#otavio:hover{

    transform: scale(1.1);
    
    transition: .5s;}

    header li:hover a { color: rgb(248, 248, 248);}

#web{
  
    font-size: 4em;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-style: italic;
    top: 1VH;
    line-height: 1;
}
#web span { color: #12FF8D;}
#web:hover{

    transform: scale(1.1);
    
    transition: .5s;}

    header li:hover a { color: rgb(248, 248, 248);}

   

  
    .container {
      margin-left: 3vh;
      width: 400px;
      height: 400px;
      position: absolute;
      left: 10%;
      top: 68%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .center {
      width: 180px;
      height: 60px;
      position: absolute;
    }
    
    .btn {
      width: 180px;
      height: 60px;
      cursor: pointer;
      background: transparent;
      border: 1px solid #03fd39;
      outline: none;
      
      transition: 1s ease-in-out;
    }
    
    svg {
      position: absolute;
      left: 0;
      top: 0;
      fill: none;
      stroke: #fff;
      stroke-dasharray: 150 480;
      stroke-dashoffset: 150;
      transition: 1s ease-in-out;
    }
    
    .btn:hover {
      transition: 1s ease-in-out;
      background: #4fda6d;
    }
    
    .btn:hover svg {
      stroke-dashoffset: -480;
    }
    
    .btn span {
      color: white;
      font-size: 1.5em;
      color: white;
      font-weight: 900;
      font-style: italic;
    }

    section{
        background-color: rgb(255, 255, 255);
        height: 100vh;
        max-width: 100%;
        border-radius: 10px;
        margin-top: 60vh;
        display: flex;
        justify-content: center;
        
    }

    /*===============================*/
   #quemsomos{
 
margin-left: 20vh;

display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;

   }

#boxtext{
  height:80vh;
  background-color: #12FF8D;
  max-width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 0px 5px 0px #000000; 
  border-radius: 2vh;
}
#text{
display: flex;
flex-direction: column;
justify-content: space-around;
  background-color: rgb(255, 255, 255);
  height: 70vh;
  
  border-style: groove;
  max-width: 90%;
  border-radius: 2vh;
  box-shadow: 5px 0px 5px 0px #000000; 
}
#text p{
  
  margin-top: 4vh;
  margin-left: 2vh;
  font-size: 4em;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-style: italic;
  top: 1VH;
  line-height: 0.8;
  
}

#text p  span{
  color: #12FF8D;
}


#text h2{
  margin-left: 2vh;
  font-weight: 900;
  font-style: italic;
  margin-top: 4vh;
  max-width: 90%;
}
#foto img{
height: 70vh;
}

.extravagante {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}

.extravagante:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0) 30%);
  transition: transform 0.6s ease;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
}

.extravagante:hover:before {
  transform: translate(-50%, -50%) scale(1);
}

.extravagante:hover {
  color: #03fd39;
  box-shadow: 0 0 20px rgba(36, 214, 0, 0.8);
  transform: translateY(-5px);
}

#habilidades{
background-color: rgba(0,0, 0, 0.8);
 background-attachment: fixed;
 height: 260vh;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column ;
 transition: 1s;
}

#title h1{
  background-color: #ffffff76;
  display: flex;
  align-items: center;
  justify-content: center ;
 text-shadow: black;
  height: 15vh;
  width: 100vh;
  font-size: 4em;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-style: italic;
  line-height: 0.8;
  box-shadow: 5px 1px 5px 5px #000000; 
  border-radius: 2vh;
  transition: 1s;
}


#title h1 span{
  color: #12FF8D
}

#habilidades_box{
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
#habilidades_box:hover > :not(:hover){
  opacity: .4;
  transform: scale(0.9);
}

.box_hab{
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-direction: column;

  background-color: #ffffffb0;
  margin-left: 5vh;
  height:70vh;
  width: 50vh;
  box-shadow: 5px 1px 5px 5px #000000; 
  border-radius: 2vh;
  transition: 1s;
}

.box_hab:hover  {
  transform: scale(1.05);
  transition: .5s;
}

.botao_neon{
  font-weight: 900;
text-decoration: none;
  color: #12FF8D;
  border: solid 2px #12FF8D;
  padding: 15px 40px;
  font-size: 24px;
  border-radius: 5px;
  transition: all ease;
}

.botao_neon:hover{
  border-radius: 15px;
  text-shadow: 0 0  12px #12FF8D;
  box-shadow: 0 0  12px 1px #12FF8D,
  0 0 12px 1px   0 0 12px 1px #12FF8D
  inset;
}

.box_hab h1{
  
  margin-top: 1.5vh;
  font-size: 2em;
  color: rgb(253, 249, 249);
  font-weight: 900;
  font-style: italic;
  line-height: 0.8;
}


/*-----------------------------------*/

#habilidades2{margin-top: 2vh;
  background-color: rgba(0,0, 0, 0.2);
   background-attachment: fixed;
   height: 110vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column ;
   transition: 1s;
  }

#habilidades_box2{
  
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
#habilidades_box2:hover > :not(:hover){
  opacity: .4;
  transform: scale(0.9);
}

.box_hab2{
 
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-direction: column;
 background-color: #ffffffb0;
 margin-left: 5vh;  
 height:70vh;
 width: 50vh;
 box-shadow: 5px 1px 5px 5px #000000; 
 border-radius: 2vh;
 transition: 1s;
}

.box_hab2:hover {
  box-shadow: 0 0  12px 1px #ffffff,
  0 0 12px 1px #ffffff inset;
  transform: scale(1.05);
  transition: .5s;
}

a{
  text-decoration: none;
}

.botao_neon{
  background-color: #ffffff49;
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
  color:   0 0 12px 1px #ff12ff;
  border: solid 2px   0 0 12px 1px #ff12ff;
  padding: 15px 40px;
  font-size: 24px;
  border-radius: 5px;
  transition: all ease;
}

.botao_neon:hover{
  border-radius: 15px;
  text-shadow: 0 0  12px   0 0 12px 1px #ff12ff;
  box-shadow: 0 0  12px 1px   0 0 12px 1px #ff12ff,
  0 0 12px 1px   0 0 12px 1px #ff12ff inset;
   color:  0  12px 1px   0 0 12px 1px #ff12ff,
  0 0 12px 1px   0 0 12px 1px #ff12ff inset;;
}

.box_hab2 h1{
  
  margin-top: 1.5vh;
  font-size: 2em;
  color: rgb(253, 249, 249);
  font-weight: 900;
  font-style: italic;
  line-height: 0.8;
}




#logs_c{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  width: 30vh;
  height:30vh;
  border-radius: 30px;
}

#logs_c2{
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 30vh;
    height:30vh;
    border-radius: 30px;
  }
#logs_c img{
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 30vh;
    height:30vh;
    border-radius: 30px;
}
#logs_c2 img{
  border-radius: 5vh;
  width: 100%;
 height: 25vh;
}


#logs_pc{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:   0 0 12px 1px #12FF8D;
 width: 80%;
 height: 25vh;
 border-radius: 5vh;
  }
  #logs_pc img{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 30vh;
    height:30vh;
    border-radius: 30px;  
  }
  
#logs_bd{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:   0 0 12px 1px #12FF8D;
  width: 80%;
  height: 25vh;
  border-radius: 5vh;
}
 
  #logs_bd img{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 30vh;
    height:30vh;
    border-radius: 30px;
  }



  #rodape{
    background-color: #ffffff8a;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #copy{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  #icon svg{
    height: 17px;
    fill: black;
    position: static;
    margin-left: 2vh;
  
  }
  #icon{
    display: flex;
    justify-content: space-evenly;
  }

 
  
  @media (max-width: 500px) {
    body {
        padding: 0 10px; 
        font-size: 14px; 
    }

    header {
        padding: 10px 0; 
        text-align: center; do 
        background-color: #000000;
        border-radius: 2vh;
        width: 500px;
    }

    header ul {
        flex-direction: row; 
        align-items: center; 
        padding: 0;
        margin: 0; 
    }

    header li {
        font-size: 12px; 
        margin: 5px 0; 
    }

    #toggleButton{
      height: 30px;
      width: 30px;
    }

    #name {
        margin: 20px 0;
        text-align: center; 
    }

    #otavio, #web {
        font-size: 1.5em; 
        line-height: 1.2; 
    }

    #quemsomos{
 
      
      display: flex;
      flex-direction: column;
      align-items: center;
      
      
         }

         #foto img{
          height: 40vh;
          }


    .container {
        width: 90%; 
        margin: 0 auto; 
        padding: 20px; 
    }

    #text {
        padding: 10px; 
        max-width: 100%; 
    }

    #text p {
        font-size: 0.2em; 
        line-height: 1.4;
    }

    .box_hab, .box_hab2 {
        width: 100%; 
        margin: 10px 0; 
        padding: 10px; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        
    }

    #habilidades_box  {
      display: flex;

        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        width: 100%; 
        margin-top: 20vh;
    }
     #habilidades_box2 {
      flex-direction: column; 
      align-items: center; 
      justify-content: center; 
      width: 100%; 
      margin-top: 20vh;
  }

    #rodape {
        text-align: center;  
        padding: 20px; 
        margin-top: 130vh; 
        align-items: end;
        width: 135%;
    }
}

